<br>  


    <ul class="nav nav-tabs">
      <li class="active"><a href="/intentions"> <i class="glyphicon glyphicon-plus"></i></a></li>
      <li> <%= link_to current_user do %><i class="glyphicon glyphicon-user"></i><% end %></li>
    </ul>






<!-- 
<ul class="pager">
  <li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
  <li><a href="#"><i class="glyphicon glyphicon-plus"></i></a></li>
</ul> -->






<div class="container">


  <%= render 'intentions/new' %>





    <div class="row">
      <div class="col-md-12 col-sm-12">
        <%flash.each do|key,value|%>
                <div class="alert alert-<%=key%>"> <%=value%> </div>
        <%end%>
     
      </div>
    </div>


<br>
<br>
<br>

<!--     <ul class="nav nav-tabs">
  <li class="active"><a href="#">San Francisco</a></li>
  <li>
<% if signed_in? %>
      <p class="navbar-text">
        <%= link_to "Me", current_user %>
      </p>
      <p class="navbar-text">
        <%= link_to "Sign out", signout_path, method: "delete" %>
      </p>
    <% else %>
      <p class="navbar-text">
        <%= link_to "Sign up", signup_path %>
      </p>
      <p class="navbar-text">
        <%= link_to "Sign in", signin_path %>
      </p>
    <% end %>
  </li>
</ul> -->





<!-- 
<div class="jumbotron">
  
<div class="page-header">
  <h1>People in San Francisco want to...</h1>
</div>

 -->






    <div class="row">




      <% @intentions.reverse.each do |intention| %>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <a href="/intentions/<%=intention[:id]%>">
          <div class="thumbnail">
            
            <h3><%=intention.name%></h3>
            


          </div>
          </a>

       

     
     </div>
      <% end %>
    </div>

  </div>


    

</div>


 



