<div class="page-header">
  <h1>People who want to    <strong> <%=@intention.name %></strong>    <small>in San Francisco</small></h1>
</div>





<button type="button" class="btn btn-primary btn-lg">I want to do this</button>

<br>
<br>


<div class="row">
	<% @intention.users.each do |u| %>
	<div class="col-xs-12 col-sm-6 col-md-3">
		<div class="thumbnail">
			<a href="/users/<%=u[:id]%>">
				<h3><%=u.name%></h3>
			</a>
		</div>
	</div>
<% end %>



<% @intention_words.each do |word| %>
<%= word.name %>
<% end %>



<% @related_intentions.each do |int| %>


<div class="page-header">
  <h1>People who want to <%= int.name %>  </h1>
</div>








<% end %>













