<div class="page-header">
  <h1>I'm <%=@user.name %> and I want to... </h1>
</div>

     



      <div class="row">
      	<% @user.intentions.each do |i| %>

      	<div class="col-xs-12 col-sm-6 col-md-3">
      		<div class="thumbnail">
      			<a href="/intentions/<%=i[:id]%>">
      				<h3><%=i.name%></h3>
  				</a>
            <p><%=i.users.count-1%> other people want to do this</p>





            <li><%= link_to('Delete Intention', intention_path(i.id) , :method => :delete, :confirm => 'Are you sure?') %></li>



			</div>


		</div>




		<% end %>




<div class="page-header">
  <%= @user.email %>
</div>






