<!--       <p class="navbar-text">
        <%= link_to "Me", current_user %>
      </p>
      <p class="navbar-text">
        <%= link_to "Sign out", signout_path, method: "delete" %>
      </p>
    <% else %>
      <p class="navbar-text">
        <%= link_to "Sign up", signup_path %>
      </p>
      <p class="navbar-text">
        <%= link_to "Sign in", signin_path %>
      </p>
 -->




<br>  


    <ul class="nav nav-tabs">
      <li><a href="/intentions"> <i class="glyphicon glyphicon-plus"></i></a></li>
      <li class="active"> <%= link_to current_user do %><i class="glyphicon glyphicon-user"></i><%="  " + current_user.name %><% end %></li>
    </ul>



<br>



<%= mail_to(@user.email)%>

<br>
<br>



<%# if the user himself has intentions %>
<% if @user.intentions.count >= 1 %>


  <%# if there are in fact matches for this person's intentions %>


    <% if !no_suggestions %>

      <% @user.intentions.each do |i| %>


      <a href="/intentions/<%=i[:id]%>"><div class="jumbotron">
        <h2><strong><%= i.name %></strong><h2>



      </div>
    </a>
      
      <% end %>





     
        



  <%# if there are no matches for this person's intentions %>


    <% else %>

      <p> SOrry friend! Add an intention --- or see if you like any of these or check back later !! </p>


    <% end %>




<%# if the user has no intentions %>

<% else %>

  <h3>There is one quality which one must possess to win, and that is definiteness of purpose, the knowledge of what one wants, and a burning desire to possess it. --- Napoleon Hill</h3>

  <br>

    <div class="row">


      <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="/intentions/">
         <div class="thumbnail">
            <h3>Add an intention</h3>
         </div>
        </a>
      </div>

  </div>



<% end %>








      




